<h2><%= @members.count %> Members</h2>
<% @members.each do |member|  %>
  Name: <%= member.name %>,
  Role: <%= member.role %>,
  House: <%= member.house %>,
  Patronus: <%= member.patronus %>
  <br><br>
<% end %>
